portalConfig = window.portalConfig || [];
(function(_P){
	/*----------------各服务目录所占比率统计卡片--------------------*/
	portalConfig.push({
		row: 0,
		col: 12,
		id : "itsmsdstatistic",
		module : "itsmsdstatistic",
		name:"本年度各IT服务目录占比",
		title : "本年度各IT服务目录占比",
		privilege:"homepage_portal_v_itsm_sdcard",
		dataUrl:"../itsm/woStatis/sdCardStatistic.do",
		options : {
			 options: {
			      chart: {
			          type: 'pie'
			      },
			      tooltip: {
			            formatter: function () {
			                return ' <b>' + this.key + ' : ' + this.y.toFixed(1) + '%</b>';
			            }
			       },
			       plotOptions: {
			            pie: {
			                allowPointSelect: true,
			                cursor: 'pointer',
			                dataLabels: {
			                    enabled: false
			                },
			                showInLegend:true
			            }
			        },
			       legend: {
			       		align: 'right', //水平方向位置
						verticalAlign: 'top', //垂直方向位置
						width:200,
						itemWidth:150,
						x: 0, //距离x轴的距离
						y: 0, //距离Y轴的距离
						labelFormatter: function () {
					          return "<span style='display:block;width:100px;float:left;'>"+this.name+"</span><span>"+ this.y.toFixed(1)+'%'+"<span>";
					    },
					    itemStyle: {
					        fontWeight: 'normal'
					    },
					    useHTML: true
			       }
			  },
 			loading: false,
 			useHighStocks: false,
 			title: {
	            text: ''
	        }
		}
	});
	/*---------------------团队的及时解决率与及时响应率-------------------*/
	portalConfig.push({
		row: 12,
		col: 6,
		id : "itsmTeamRespondSolvestatistic",
		module : "itsmTeamRespondSolvestatistic",
		name:"本年度IT团队及时响应率与解决率",
		title : "本年度IT团队及时响应率与解决率",
		privilege:"homepage_portal_v_itsm_respondsolve",
		dataUrl:"../itsm/woStatis/itsmTeamRespondSolvestatistic.do",
		options : {
			 options: {
			    chart: {
			        type: 'column'
			    },
			    legend: {
		           enabled: false
		        },
		        colors : [_P.colors.lightgreen,_P.colors.skyblue],
		        tooltip: {
		            headerFormat: '<span style="font-size:10px"><b>{point.key}<b></span><table>',
		            pointFormat: '<tr><td style="color:{series.color};padding:0"><b>{series.name}<b>: </td>' +
		                '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
		            footerFormat: '</table>',
		            shared: true,
		            useHTML: true
		        },
		       plotOptions: {
		              column: {
			                pointPadding: 0.2,
			                borderWidth: 0
			            }
		        }
			  },
	        yAxis: {
	            min: 0,
	            max:100,
	            tickInterval:25,
	            lineColor: '#999999',
            	lineWidth: 1,
	            title: {
	                text: '百分比 (%)'
	            }
	        },
 			title: {
	            text: ''
	        }
		}
	});
	
	/*----------------------------本年度服务不满意率-----------------------------*/
	portalConfig.push({
		row: 6,
		col: 9,
		id : "itsmUnOkWostatistic",
		module : "itsmUnOkWostatistic",
		privilege:"homepage_portal_v_itsm_unok",
		dataUrl : "../itsm/woStatis/itsmUnOkWostatistic.do",
		name:"本年度服务不满意率",
		title : "本年度服务不满意率"
	});
	
	/*----------------------------本月工单的解决能力-----------------------------*/
	portalConfig.push({
		row: 6,
		col: 6,
		id : "itsmWoSolveAbilitystatistic",
		module : "itsmWoSolveAbilitystatistic",
		privilege:"homepage_portal_v_itsm_solveability",
		dataUrl : "../itsm/woStatis/itsmWoSolveAbilitystatistic.do",
		name:"本月工单解决能力",
		title : "本月工单解决能力"
	});
	
	/*----------------------------本月工单平均响应时间-----------------------------*/
	portalConfig.push({
		row: 12,
		col: 3,
		id : "itsmWoAvgRespondTimestatistic",
		module : "itsmWoAvgRespondTimestatistic",
		privilege:"homepage_portal_v_itsm_respondtime",
		dataUrl : "../itsm/woStatis/itsmWoAvgRespondTimestatistic.do",
		name:"本月工单平均响应时间",
		title : "本月工单平均响应时间"
	});
})(_portal);