portalConfig = window.portalConfig || [];
(function(_P){

	portalConfig.push({
		row: 12,
		col: 0,
		sizeX:3,
		sizeY:2,
		name: "年度采购金额",
		id : "purtotalprice",
		module : "totalprice",
		privilege:"homepage_portal_view_purchase",
		dataUrl : "../purchase/purreport/purPriceTotal.do?date=" + new Date().getTime(),
		options : {
			iconBackground : "bsafe-skyblue",
			title : "年度采购金额",
			unit : "万元",
			icon : "icon-exchange"
		}
	});
	
	/*TIM-2274 原为"库存金额"卡片，后改为"暂估库存金额",取值等于"当前库存金额统计"卡片的已报账未报账的总和 */
	portalConfig.push({
		row: 14,
		col: 0,
		sizeX:3,
		sizeY:2,
		name:"暂估库存金额",
		id : "invtotalprice",
		module : "totalprice",
		privilege:"homepage_portal_view_inventory",
		dataUrl : "../purchase/purreport/invPriceTotal.do?date=" + new Date().getTime(),
		options : {
			iconBackground : "bsafe-lightgreen",
			title : "暂估库存金额",
			unit : "万元",
			icon : "icon-home"
		}
	});
	
	/*TIM-2274 增加"实时库存金额"卡片,等于"当前库存金额统计"卡片中的"已报账"的值 */
	portalConfig.push({
		row: 14,
		col: 0,
		sizeX:3,
		sizeY:2,
		name:"实时库存金额",
		id : "actualTotal",
		module : "actualTotal",
		privilege:"homepage_portal_view_actual_total",
		dataUrl : "../purchase/purreport/invActualTotal.do?date=" + new Date().getTime(),
		options : {
			iconBackground : "bsafe-lightgreen",
			title : "实时库存金额",
			unit : "万元",
			icon : "icon-home"
		}
	});
	
	portalConfig.push({
		row : 0,
		col : 6,
		module : "stockList",
		id : "safetystock",
		sizeX:6,
		sizeY:6,
		title : "库存不足提醒",
		name : "库存不足提醒",
		columns : [
		    {title:"物资",width:"60",field:"itemname"},
		    {title:"型号",width:"80",field:"cusmodel"},
		    {title:"当前库存量",width:"35",field:"stockqty"},
		    {title:"安全库存量",width:"35",field:"lowinv"},
		    {title:"单位",width:"35",field:"unit"}
		],
		privilege:"homepage_portal_view_purchase",
		dataUrl : "../purchase/purreport/invSafetyStock.do?date=" + new Date().getTime(),
		resizable : false
	});
	
	/*----------------本年度各专业采购金额占比--------------------*/
	portalConfig.push({
		row: 0,
		col: 12,
		id : "majorPurchaseStatistic",
		module : "majorPurchaseStatistic",
		name:"本年度各专业采购金额占比",
		title : "本年度各专业采购金额占比",
		privilege:"homepage_portal_view_majorpurchase",
		dataUrl:"../purchase/purreport/majorPurchaseStatistic.do?date=" + new Date().getTime(),
		options : {
			 options: {
			      chart: {
			          type: 'pie'
			      },
			      tooltip: {
			            formatter: function () {
			                return ' <b>' + this.key + ' : ' + (this.y/10000).toFixed(2) + '万元</b>';
			            }
			       },
			       plotOptions: {
			            pie: {
			                allowPointSelect: true,
			                cursor: 'pointer',
			                dataLabels: {
			                    enabled: false
			                },
			                showInLegend:true
			            }
			        },
			       legend: {
			       		align: 'right', //水平方向位置
						verticalAlign: 'top', //垂直方向位置
						width:200,
						itemWidth:150,
						x: 0, //距离x轴的距离
						y: 0, //距离Y轴的距离
						labelFormatter: function () {
					          return "<span style='display:block;width:100px;float:left;'>"+this.name+"</span><span>"+ (this.y/this.total*100).toFixed(2)+'%'+"<span>";
					    },
					    itemStyle: {
					        fontWeight: 'normal'
					    },
					    useHTML: true
			       }
			},
 			loading: false,
 			useHighStocks: false,
 			title: {
	            text: ''
	        }
		}
	});
	
	/*----------------当前库存金额统计，分已报账和未报账--------------------*/
	portalConfig.push({
		row: 0,
		col: 12,
		id : "reimbursedMoneyStatistic",
		module : "reimbursedMoneyStatistic",
		name:"当前库存金额统计",
		title : "当前库存金额统计",
		privilege:"homepage_portal_view_reimbursed_money",
		dataUrl:"../purchase/purreport/reimbursedMoneyStatistic.do?date=" + new Date().getTime(),
		options : {
			 options: {
			      chart: {
			          type: 'pie'
			      },
		          colors : [_P.colors.lightgreen,_P.colors.red],
			      tooltip: {
			            formatter: function () {
			                return ' <b>' + this.key + ' : ' + this.y + '万元</b>';
			            }
			       },
			       plotOptions: {
			            pie: {
			                allowPointSelect: true,
			                cursor: 'pointer',
			                dataLabels: {
			                    enabled: false
			                },
			                showInLegend:true
			            }
			       },
			       legend: {
			       		align: 'right', //水平方向位置
						verticalAlign: 'top', //垂直方向位置
						width:200,
						itemWidth:150,
						x: 0, //距离x轴的距离
						y: 0, //距离Y轴的距离
						labelFormatter: function () {
							var label = "<span style='display:block;width:100px;float:left;'>" + this.name + "："+ this.y +"万元<span>";							
							if(this.name == "未报账"){
								var yData = this.series.yData;
								var total = yData[0] + yData[1];
								label += "<p style='margin:0 0 0 -22px;line-height:24px'>总金额(含暂估)：" + total.toFixed(4) + "万元</p>";
							} 
					        return label; 
					    },
					    itemStyle: {
					        fontWeight: 'normal'
					    },
					    useHTML: true
			       }
			},
 			loading: false,
 			useHighStocks: false,
 			title: {
	            text: ''
	        }
		}
	});
})(_portal);