portalConfig = window.portalConfig || [];
(function(_P){

	portalConfig.push({
		row: 6,
		col: 3,
		id : "calendar",
		module : "calendar",
		name : "请假日历",
		privilege:"homepage_portal_view_calendar",
		title : "请假日历"
	});
	
	portalConfig.push({
		row: 6,
		col: 0,
		id : "stat",
		module : "stat",
		privilege:"homepage_portal_view_stat",
		dataUrl : "../attendance/stat/queryPersonStat.do?date=" + new Date().getTime(),
		title : "本年个人考勤统计",
		name : "本年个人考勤统计"
		
	});
	
	
})(_portal);