(function(_P){
	
	portalConfig.push({
		row: 14,
		col: 0,
		sizeX:3,
		sizeY:2,
		name : "合同总额",
		privilege:"homepage_portal_view_contract",
		module : "contract",
		id : "contract_total",
		bordered : false,
		options : {
			iconBackground : "bsafe-blue",
			title : "合同总额",
			unit : "元",
			icon : "icon-exchange"

		},
		dataUrl:"../pms/frontPage/getTotalContractSumThisYear.do"
	});
})(_portal);